<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
<meta charset="utf-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
		<h1 id="title">messages</h1>
		<div class="container">
			<div class="intro">
			<div class="row form-group">
				<div class="col-xs-12 col-sm-4 col-lg-2 pull-right">
				<input type="text" class="search form-control"
					th:placeholder="#{placeholder}" />
				</div>
			</div>
				<form action="#" th:action="@{/openMessage}" name="action">
					<table class="table table-hover table-bordered results"	id="messageTable">
						<thead>
							<tr>
								<th class="col-md-2 col-xs-2">title </th>
								<th class="col-md-1 col-xs-1">date </th>
								<th class="col-md-4 col-xs-4">message </th>
								<th class="col-md-1 col-xs-1">Lu </th>
								<th class="col-md-2 col-xs-2">Customer </th>
								<th class="col-md-2 col-xs-2">Project </th>
								<th class="col-md-1 col-xs-1">reply </th>
							</tr>
						</thead>
						<tbody th:each="message : ${messages}" th:onclick="'javascript:openMessage(' + ${message?.iDMessage}+ ')'">
							<tr>
								<th class="col-md-2 col-xs-2 tableInfo"	th:text="${message?.title}"></th>
								<th class="col-md-1 col-xs-1 tableInfo"	th:text="${#dates.format(message?.date, 'dd-MMM-yyyy')}"></th>
								<th class="col-md-4 col-xs-4 tableInfo"	th:text="${#strings.abbreviate(message?.messageContent,55)}"></th>
								<th class="col-md-1 col-xs-1 tableInfo"	th:switch="${message?.read}"><span th:case="false" th:text="no"></span><span th:case="true" th:text="yes"></span></th>
								<th class="col-md-2 col-xs-2 tableInfo"	th:text="${message?.customer.name}"></th>
								<th class="col-md-2 col-xs-2 tableInfo"	th:text="${message?.project.name}"></th>
								<th class="col-md-1 col-xs-1 tableInfo"	th:text="${message?.nbReply}"></th>
								<th th:text="${message?.iDMessage}" style="visibility: hidden;"></th>
							</tr>
						</tbody>
					</table>
					<input type="hidden" ID="ID" name="ID"/>
				</form>
			</div>
		</div>
	<script src="js/mail.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/Table-with-search.js"></script>
</body>
</html>