<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
<meta charset="utf-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
		<h1 id="title" th:text="#{mail.title}">All messages</h1>
		<div class="container">
			<div class="intro">
			<div class="row form-group">
				<div class="col-xs-12 col-sm-4 col-lg-2 pull-right">
				<input type="text" class="search form-control"
					th:placeholder="#{placeholder}" />
				</div>
			</div>
				<form action="#" th:action="@{/openMessage}" name="action">
				<div th:replace="fragments/tableMessages :: tableMessages"></div>
					<input type="hidden" ID="ID" name="ID"/>
				</form>
			</div>
		</div>
	<script src="js/mail.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/Table-with-search.js"></script>
</body>
</html>