<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
<meta charset="utf-8" />
<title>mail</title>
</head>
<body onload="viewTab()">
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="intro">
			<div class="message_mail_title">
				<span th:text="${message.title}">title</span>
			</div>
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<div class="row message_mail_messageContent">
						<span th:text="${message.messageContent}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col message_mail_customer_name">
					<span th:text="${message.customer.name}"></span> <span
						th:text="${message.customer.firstName}"></span>
				</div>
				<div class="col message_mail_project_name">
					<span th:text="${message.project.name}"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="btnSendNewMail">
		<div th:replace="fragments/modalReply :: modalReply"></div>
		<input class="btn" type="submit" value="Reply" data-toggle="modal" data-target="#myModalReply" />
	</div>
	<div class="row" ID="listReply">
		<form action="#" th:action="@{/openMessage}" name="action">
			<table class="table table-hover table-bordered results tableReply" id="messageTable">
				<thead>
					<tr>
						<th class="col-md-1 col-xs-1">date</th>
						<th class="col-md-4 col-xs-4">message</th>
						<th class="col-md-1 col-xs-1">Lu</th>
					</tr>
				</thead>
				<tbody th:each="message : ${messagesReply}"	th:onclick="'javascript:openMessage(' + ${message?.iDMessage}+ ')'">
					<tr>
						<th class="col-md-1 col-xs-1 tableInfo"	th:text="${#dates.format(message?.date, 'dd-MMM-yyyy')}"></th>
						<th class="col-md-4 col-xs-4 tableInfo"	th:text="${#strings.abbreviate(message?.messageContent,55)}"></th>
						<th class="col-md-1 col-xs-1 tableInfo"	th:switch="${message?.read}"><span th:case="false" th:text="no"></span><span th:case="true" th:text="yes"></span></th>
					</tr>
				</tbody>
			</table>
			<input type="hidden" ID="ID" name="ID" />
		</form>
	</div>
	<script src="js/mail.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/Table-with-search.js"></script>
</body>
</html>