<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>View project</title>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/modalEditProject :: modalEditProject"></div>
		<h2 id="titleProject" th:object="${project}">
			<span th:text="${project.name}"></span>
			<input type="image" value="edit" src="img/stylo2.png" style="width: 20px; margin-left: 20px;" th:value="EditProject" data-toggle="modal" data-target="#myModalEditProject"/>
		</h2>
		<h3 id="titleCustomerProject">
			<span th:text="${project.customer.name} +' , '+ ${project.customer.firstName}"></span>
		</h3>
		<input type="hidden" th:value="${project.customer.ID}" id="IDCustomerForMessage" />
		<input type="hidden" th:value="${project.ID}" id="IDProjectForMessage" />
	<div class="col-md-12 col-lg-6">
		<div th:text="${#dates.format(project.startDate, 'dd-MMM-yyyy')}" class="pull-left" style="margin-right: 2px;"></div>
		<div th:text="${#dates.format(project.deadLine, 'dd-MMM-yyyy')}" class="pull-right" style="margin-left: 2px;"></div>
		<div class="progress beautiful" style="margin-left: 2%;">
			<div class="progress-bar progress-bar-striped active" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
				<span class="sr-only">80%</span>
			</div>
		</div>
	</div>
	<div class="col-md-12"></div>
	<div class="highlight-phone" style="margin-bottom: 20px;">
		<div class="container">
			<div class="row">
				<div class="introDescription col-lg-6">
					<div id="descritpion" th:object="${project}">
						<span th:text="${project.description}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div th:replace="fragments/modalAddTask :: modalAddTask"></div>
		<div th:replace="fragments/modalNewMessage :: modalNewMessage"></div>
		<div th:replace="fragments/modalTask :: modal"></div>
		<div th:replace="fragments/modalAlert :: modalAlert"></div>
		<div th:replace="fragments/modalReadMessage :: modalReadMessage"></div>
		<div class="row">
		<div class="col-sm-6">
		<button type="button" class="btnTask" data-toggle="modal" data-target="#myModal">add task</button>
		<table class="table table-hover table-bordered results tasksTable" id="tasksTable">
			<thead>
				<tr>
					<th class="col-md-3 col-xs-3">Name</th>
					<th class="col-md-1 col-xs-1">%</th>
					<th class="col-md-7 col-xs-7">Comment</th>
					<th class="col-md-1 col-xs-1">Edit</th>
				</tr>
			</thead>
			<tbody th:each="task : ${tasks}">
				<tr>
					<th class="col-md-3 col-xs-3 tableInfo" th:text="${task?.name}"></th>
					<th class="col-md-1 col-xs-1 tableInfo" th:text="${task?.progress}"></th>
					<th class="col-md-7 col-xs-7 tableInfo" th:text="${task?.comment}"></th>
					<th><input type="image" value="edit" src="img/stylo2.png" style="width: 20px; margin-left: 20px;" th:value="Edit" data-toggle="modal" data-target="#myModalEdit" onclick="getTask(this)"/></th>
					<th><input type="image" value="delete" src="img/delete.png" style="width: 20px; margin-left: 20px;" data-toggle="modal" data-target="#myModalAlert" th:onclick="'javascript:getTaskToDelete(' + ${task.ID}+ ')'"/></th>
					<th class="col-md-7 col-xs-7 tableInfo" th:text="${task?.ID}" style="visibility: hidden;"></th>
				</tr>
			</tbody>
		</table>
			</div>
			<div class="col-sm-6">
			<button type="button" class="btnTask" data-toggle="modal" data-target="#myModalNewMessage" onclick="getIDClient()">New message</button>
			<table class="table table-hover table-bordered results tasksTable" id="messageTable">
			<thead>
				<tr>
					<th class="col-md-3 col-xs-3">title</th>
					<th class="col-md-2 col-xs-2">date</th>
					<th class="col-md-7 col-xs-7">message</th>
					<th class="col-md-7 col-xs-7">Lu</th>
					<th class="col-md-1 col-xs-1">reply</th>
				</tr>
			</thead>
			<tbody th:each="message : ${messages}" th:onclick="'javascript:getIdMessage(this);'">
				<tr >
					<th class="col-md-3 col-xs-3 tableInfo" th:text="${message?.title}"></th>
					<th class="col-md-2 col-xs-2 tableInfo" th:text="${#dates.format(message?.date, 'dd-MMM-yyyy')}"></th>
					<th class="col-md-6 col-xs-7 tableInfo" th:text="${message?.messageContent}" id="message"></th>
					<th class="col-md-1 col-xs-1 tableInfo" th:switch="${message?.read}"><span th:case="false" th:text="no"></span><span th:case="true" th:text="yes"></span></th>
					<th class="col-md-1 col-xs-1 tableInfo" th:text="${message?.nbReply}" id="message"></th>
					<th th:text="${message?.iDMessage}" style="visibility: hidden;"></th>
				</tr>
			</tbody>
		</table>
			</div>	
		</div>
	</div>
		
	<script src="js/viewProject.js" type='text/javascript' charset="utf-8" ></script>		
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>