<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>EmployeList</title>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="intro">
			<h2 id="title">Employes</h2>
			<div id="addTitle" role="presentation"><a href="addEmploye">Add</a></div>
			<div class="form-group" id="find">
				<input type="text" class="search form-control"
					placeholder="What you looking for?" />
			</div>
			<span class="counter pull-right"></span>
			<form action="#" th:action="@{/viewEmploye}" th:object="${employe}" method="post">
			<div th:replace="fragments/tableEmployes :: tableEmployes"></div>
			</form>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/PHP-Contact-Form-dark.js"></script>
	<script src="js/PHP-Contact-Form-dark1.js"></script>
	<script src="js/Table-with-search.js"></script>
</body>

</html>