<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>EmployeList</title>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="intro">
			<h2 id="title" th:text="#{employe.title}">Employes</h2>
			<div id="addTitle" role="presentation"><a href="addEmploye" th:text="#{employe.add}">Add</a></div>
			<div class="row form-group">
				<div class="col-xs-12 col-sm-4 col-lg-2 pull-right">
				<input type="text" class="search form-control"
					th:placeholder="#{placeholder}" />
				</div>
			</div>
			<span class="counter pull-right"></span>
			<form action="#" th:action="@{/viewEmploye}" th:object="${employe}" method="post">
			<div th:replace="fragments/tableEmployes :: tableEmployes"></div>
			</form>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/Table-with-search.js"></script>
</body>

</html>