body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #0093d3;
	background-color: #d2d2d2;
	padding: 20px 20px;
}

.addTaskModal, .modalAddTask, .modalAlert,
	.modalReply, .replyMessage, .modalEditProject {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #0093d3;
	background-color: #d2d2d2;
	margin-top: 30%;
}

img {
	vertical-align: middle;
	max-height: 90px;
}

.tableInfo {
	color: #0093d3;
	background: white;
	text-align: center;
}

.table {
	border: #0093d3;
	color: #0093d3;
	max-width: 100%;
}

.btnAdd {
	width: 70px;
	color: #0093d3;
	margin-left: 48%;
	margin-top: 50px;
}

#title {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
}

.search {
	position: relative;
}

.button {
	width: 50px;
	height: 20px;
	margin-right: 5px;
	font-size: 10px;
}

#addTitle, #titleCustomerEditProject {
	text-align: center;
}

#IDCustomer {
	display: none;
}

#IDEmploye {
	display: none;
}

.results tr[visible='false'], .no-result {
	display: none;
}

.counter {
	padding: 8px;
	color: #ccc;
}

.counter {
	padding: 8px;
	color: #ccc;
}

#find {
	width: 200px;
	margin-left: 75%;
}

#addRow {
	margin-left: 5%;
}

#deleteRow {
	margin-right: 15%;
}

#descritpion {
	display: inline;
	font-size: 30px;
}

.introDescription {
	border: solid;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

#projectName #startDate {
	margin-left: 100px;
}

.customerNameProject {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 25px;
}

#titleProject {
	text-align: center;
	margin-top: 50px;
}

#titleCustomerProject {
	margin-bottom: 100px;
	text-align: center;
}

.tasksTable {
	width: 900px;
}

#hiddenID {
	visibility: hidden;
}

.lookingTask {
	width: 200px;
	margin-left: 45px;
}

.btnTask {
	margin-left: 5%;
}

.modalAlert {
	margin-top: 15%;
}

#IDTask {
	visibility: hidden;
}

.warning{
	text-align: center;
}

.modalAlert {
	margin-top: 130%;
}

.replyMessage {
	display: none;
	margin-top: 0%;
}

.modalEditProject {
	margin-top: 20%;
}

/*.btn-history{
	margin-left: 50%;
}*/

.btnModifyProject {
	margin-right: 45%;
}
.messsages-table {
	display : block;
	margin-top: 5px;
}

.message_mail_title {
	text-transform:uppercase;
	text-align: center;
	font-size: 25px;
}

.message_mail_messageContent{
	height:250px;
	font-size: 20px;
	margin : auto ;
	border-radius:5px;
	margin-top: 20px;
	padding: 10px;
	background: RGBA(255,255,255,0.2);
	word-wrap: break-word;
}

.message_mail_customer_name{
	font-size: 25px;
	margin-left: 80%;
}

/*#lastMessage{
	margin-left: 50%;
}*/

.messages-project{
	text-align: center;
}

.titleNewMail ,.textNewMail{
	background: RGBA(255,255,255,0.5);
	border-radius:5px;
}

.titleNewMail{
	height: 30px;
	margin-top: 40px;
}

.textNewMail{
	margin-top: 20px;
}

.btnReply{
	margin-bottom: 20px;
}

.btnSendNewMail{
text-align: center;	
margin-top: 20px;
}

#formReply{
	position:relative;
}

.tableReply{
	margin: auto;
	width: 80%;
}