body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #0093d3;
	background-color: #d2d2d2;
}

img {
	vertical-align: middle;
	max-height: 90px;
}

.tableInfo {
	color: #0093d3;
	background: white;
	text-align: center;
}

.table {
	border: #0093d3;
	color: #0093d3;
	max-width: 80%;
	margin-top: 5%;
	margin-left: 5%;
}

.btnAdd {
	width: 70px;
	color: #0093d3;
	margin-left: 48%;
	margin-top: 50px;
}

#title {
	margin-top:50px;
	margin-bottom:50px;
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

.search {
	position: relative;
}

.button {
	width: 50px;
	height: 20px;
	margin-right: 5px;
	font-size: 10px;
}

#addTitle {
	text-align: center;
}

#IDCustomer {
	visibility: hidden;
}

#IDEmploye {
	visibility: hidden;
}

.results tr[visible='false'], .no-result {
	display: none;
}

.counter {
	padding: 8px;
	color: #ccc;
}

body {
	padding: 20px 20px;
}

.results tr[visible='true'] {
	display: table-row;
}

.counter {
	padding: 8px;
	color: #ccc;
}

#find {
	width: 200px;
	margin-left: 75%;
}

#addRow {
	margin-left: 5%;
}

#deleteRow {
	margin-right: 15%;
}

#descritpion {
	display: inline;
	font-size: 30px;
}

.introDescription {
	/*width: 50%;*/
	border: solid;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}
