<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
<meta charset="utf-8"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div id="contact">
        <div class="container">
            <div class="intro">
                <h2 style="margin-left: 45%; margin-bottom : 50px;">New customers</h2>
            </div>
            <form action="#" th:action="@{/customerAdd}" th:object="${customer}" method="post" id="contact-form">
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"><label class="control-label">Name </label><input class="form-control" type="text" name="name" required="" placeholder="" id="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"><label class="control-label">FirstName </label><input class="form-control" type="text" name="firstName" required="" placeholder="" id=""/>
                    </div>
                </div>
        </div>
    </div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label class="control-label" >Compagny name</label><input class="form-control" type="text" name="companyName" required="" placeholder="" id=""/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group"><label class="control-label" >address </label><input class="form-control" type="text" name="address" required="" placeholder="" id=""/>
        </div>
    </div>
    </div>
    </div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label class="control-label">city </label><input class="form-control" type="text" name="city" required="" placeholder="" id=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label class="control-label">Country </label><input class="form-control" type="text" name="country" required="" placeholder="" id=""/>
            </div>
        </div>
    </div>
    </div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label class="control-label" >Telephone </label><input class="form-control" type="text" name="phone" required="" placeholder="" id=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label class="control-label">mail </label><input class="form-control" type="text" name="mail" required="" placeholder="" id=""/>
            </div>
        </div>
    </div>
    </div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label class="control-label" >N°Siret </label><input class="form-control" type="text" name="nSiret" required="" placeholder="" id=""/>
                </div>
            </div>
            <div class="col-md-6">
        </div>
    </div>
    </div>
    <button class="btnAdd" type="submit">add</button>
    </form>
    </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</body>

</html>