<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CustomerList</title>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="row">
	<div class="col-sm-12 col-md-12 col-xs-12">
	<div class="container">
		<div class="intro">
			<h2 id="title" th:text="#{customers}">Customers</h2>
			<div id="addTitle" role="presentation"><form action="#" th:action="@{/addCustomer}"><input type="submit" class="btn" th:value="#{addCustomer}"/></form></div>
			<div class="row form-group">
				<div class="col-xs-12 col-sm-4 col-lg-2 pull-right">
				<input type="text" class="search form-control"
					th:placeholder="#{placeholder}" />
				</div>
			</div>
			<span class="counter pull-right"></span>
			<form action="#" th:action="@{/viewCustomer}" th:object="${customer}" method="post">
			<div class="dt-responsive">
			<div th:replace="fragments/tableCustomer :: tableCustomer"></div>
			</div>
			</form>
		</div>
	</div>
	</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/Table-with-search.js"></script>
</body>

</html>