<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Web-reseau</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="fonts/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"/>
    <link rel="stylesheet" href="css/Pretty-Header.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/circle-progress-bar.css"/>
    <link rel="stylesheet" href="css/MUSA_no-more-tables.css"/>
    <link rel="stylesheet" href="css/MUSA_no-more-tables1.css"/>

</head>

<body>
    <nav class="navbar navbar-default custom-header" th:fragment="header">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="/"> </a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="collapse navbar-collapse" id="navbar-collapse" th:object="${sessionUser}">
                <ul class="nav navbar-nav links">
                    <li role="presentation"><a href="customers" th:if="${sessionUser?.role} == 'ADMIN' ">Customers </a></li>
                    <li role="presentation"><a href="employes" th:if="${sessionUser?.role} == 'ADMIN' ">Employes </a></li>
                    <li role="presentation"><a href="projects">Projects </a></li>
                    <li role="presentation"><a href="/listMail">Mail </a></li>
                    <li role="presentation"><a href="/" th:if="${sessionUser?.role} == 'ADMIN' ">Files </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"></ul>
                <a th:inline="text" class="pull-right" th:text="${sessionUser?.name} + ',' + ${sessionUser?.firstName}"></a><br></br>
                <form class="btn pull-right" th:action="@{/logout}">
                	<input type="submit" value="Logout"/>
                </form>
        </div>
        </div>
    </nav>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>