<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>modal Read Message</title>
</head>
<body>
	<div class="container" th:fragment="modalReadMessage">
			<!-- Modal -->
			<div class="modal fade " id="myModalReadMessage" role="dialog">
				<div class="modal-dialog modal-lg " id="modalReply">
					<div class="modal-content modalReadMessage">
					<form action="#" th:action="@{/messageRead}" method="post" th:object="${message}">
						<div class="modal-header">
							<h4 class="modal-title" id="titleRead"></h4>
							<h4 class="modal-date" id="dateRead"></h4>
							<input type="text" id="IDmessageRead" name="IDmessageRead"/>
						</div>
						<div class="modal-body">
							<h2 id="messageRead"></h2>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn" th:value="${project.ID}" name="ID">Close</button>
							<button type="button" class="btn" name="ID" onclick="openReply()">Reply</button>
						</div>
						<table class="table table-hover table-bordered results tasksTable" id="messageTable">
						<thead>
							<tr>
								<th class="col-md-3 col-xs-3">title</th>
								<th class="col-md-2 col-xs-2">date</th>
								<th class="col-md-5 col-xs-5">message</th>
								<th class="col-md-1 col-xs-1">Lu</th>
							</tr>
						</thead>
						<tbody th:each="message : ${messagesReply}" th:onclick="'javascript:getIdMessage(this);'">
							<tr >
								<th class="col-md-3 col-xs-3 tableInfo" th:text="${message?.title}"></th>
								<th class="col-md-2 col-xs-2 tableInfo" th:text="${#dates.format(message?.date, 'dd-MMM-yyyy')}"></th>
								<th class="col-md-5 col-xs-5 tableInfo" th:text="${message?.messageContent}" id="message"></th>
								<th class="col-md-1 col-xs-1 tableInfo" th:switch="${message?.read}"><span th:case="false" th:text="no"></span><span th:case="true" th:text="yes"></span></th>
								<th th:text="${message?.iDMessage}" style="visibility: hidden;"></th>
							</tr>
						</tbody>
						</table>
						</form>
					</div>
					<div class="modal-content replyMessage"  id="divReply">
					<form action="#" th:action="@{/messageReply}" method="post" th:object="${message}">
						<div class="modal-header">
							<button type="button" class="close" onclick="closeReply()">&times;</button>
							<h4 class="modal-title" id="titleReply" >test</h4>
							<h4 class="modal-date" id="dateReply">test</h4>
						</div>
						<div class="modal-body">
							<textarea rows="5" cols="120" id="messageReply" name="messageReply"></textarea>
							<input type="text" id="IDmessageReply" name="IDmessageReply"/>
						</div>
						<div class="modal-footer">
						<button type="submit" class="btn" name="ID" th:value="${project.ID}">Send</button>
						</div>
						</form>
					</div>
				</div>
			</div>
	</div>
</body>
</html>