<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>modal Edit Project</title>
</head>
<body>
	<form th:fragment="modalEditProject" action="#"	th:action="@{/editProject}" method="post" id="contact-form">
		<div class="container">
			<!-- Modal -->
			<div class="modal fade" id="myModalEditProject" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content modalEditProject">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Project</h4>
						</div>
						<div class="modal-body">
							<!--contenue de la modification -->
							<div class="container">
								<div class="row customerNameProject">
									<h2 id="titleProject" th:object="${project}">
										<span th:text="${project.name}"></span>
									</h2>
									<h3 id="titleCustomerEditProject">
										<span
											th:text="${project.customer.name} +' , '+ ${project.customer.firstName}"></span>
									</h3>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12 column">
									<div class="controls">
										<div class="row col-md-offset-0">
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">Project Name </label><input th:value="${project.name}" class="form-control" type="text" name="name" required="" placeholder="" id="" />
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="control-label">Description </label><input th:value="${project.description}" class="form-control" type="text" name="description" required="" placeholder=""
														id="" />
												</div>
											</div>
										</div>
									</div>
									<div class="controls">
									<div class="row col-md-offset-3">
										<div class="row col-md-4">
												<div class="form-group">
													<label class="control-label">Start date</label><input th:field="${project.startDate}" type="date" class="form-control" name="startDate" required="" placeholder="" id="" />
												</div>
												</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">End date </label><input th:field="${project.deadLine}" type="date" class="form-control" name="deadLine" placeholder="" id="" />
													<label class="control-label"></label><input	th:field="${project.customer.ID}" type="hidden"	class="form-control" name="customer" placeholder="" id="" />
													<label class="control-label"></label><input	th:field="${project.ID}" type="hidden"	class="form-control" name="ID" placeholder="" id="" />
												</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btnModifyProject" type="submit" name="ID" th:field="${project.customer.ID}">modify</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>