<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="tableEmployes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>table</title>
</head>

<body>
    <div class="" th:fragment="tableEmployes">
    <div class="row">
        <div class="col-md-12">
        </div>
        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf results">
            <thead>
					<tr>
						<th id="IDEmploye">ID</th>
						<th th:text="#{employe.name}">Name</th>
						<th th:text="#{employe.firstname}">Firstname</th>
						<th th:text="#{employe.fonction}">Fonction</th>
						<th th:text="#{employe.adress}">Address</th>
						<th th:text="#{employe.city}">city</th>
						<th th:text="#{employe.country}">Country</th>
						<th th:text="#{employe.phone}">Téléphone</th>
						<th th:text="#{employe.mail}">Mail</th>
					</tr>
					<tr class="warning no-result">
						<td colspan="4"><i class="fa fa-warning"></i> No result</td>
					</tr>
				</thead>
				<tbody th:each="employe : ${listEmploye}">
					<tr>
						<th th:text="${employe.ID}" id="IDEmploye"></th>
						<th th:text="${employe.name}"></th>
						<th th:text="${employe.firstName}"></th>
						<th th:text="${employe.fonction}"></th>
						<th th:text="${employe.address}"></th>
						<th th:text="${employe.city}"></th>
						<th th:text="${employe.country}"></th>
						<th th:text="${employe.phone}"></th>
						<th th:text="${employe.mail}" id="mail"></th>
						<th ><input type="image" src="img/oeil2.png" th:value="${employe.ID}" name="ID" class="button btnView"/></th>
					</tr>
				</tbody>
            </table>
        </div>
    </div>
</div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>